.centrarColumna, body footer div, body .portOptions button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: grid;
  grid-template-columns: auto 90% auto;
  grid-template-areas: "null botones vacio" "null main vacio" "footer footer footer";
  font-family: "Roboto", sans-serif;
  transition: all 1s;
}
body.temaOscuro {
  background-color: black;
  color: white;
}
body.temaClaro {
  background-color: white;
  color: black;
}
body .portOptions {
  grid-area: botones;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body .portOptions button {
  font-family: inherit;
  font-weight: 600;
  margin: 1rem;
  width: 80px;
  height: 80px;
  justify-content: space-around;
  background-color: inherit;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 127, 0.5);
  border: 2px solid blue;
}
body .portOptions button:active {
  transform: translate(2px, 2px);
}
body .portOptions button:hover {
  background-color: blue;
  color: white;
  fill: white;
}
body .portOptions button svg {
  width: 50%;
  height: 50%;
}
body .portOptions button select {
  background-color: inherit;
  color: inherit;
}
body .portOptions .temaOscuro {
  box-shadow: 3px 3px 2px rgba(0, 0, 255, 0.5);
  color: green;
}
body .portOptions .temaOscuro svg {
  fill: green;
}
body main {
  grid-area: main;
}
body main .keys-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid #ccc;
}
body main .keys-container .keys {
  margin: 1rem;
  text-align: center;
  color: white;
  outline: 2px solid black;
}
body main .keys-container .keys.temaOscuro {
  outline: 2px solid #777;
}
body main .keys-container .keys .keys__name {
  padding: 0.25rem;
  background-color: black;
}
body main .keys-container .keys .keys__value {
  padding: 0.75rem;
  background: white;
  color: black;
}
body main .keys-container .keys .recentlyUpdated {
  background-color: cyan;
}
body main .keys-container .keys .recentlyUpdatedRemoved {
  transition: all 1s;
}
body main .monitor {
  margin: 0.5rem 0;
  border: 2px solid #ccc;
  padding: 1rem;
  height: 40vh;
  max-height: 60vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body main .monitor span {
  color: inherit;
}
body main .monitor.temaOscuro span {
  color: green;
}
body main .monitorOpciones {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 2px solid #ccc;
  padding: 0.5rem;
}
body main .monitorOpciones input {
  background-color: inherit;
  width: 60%;
  outline: none;
  border: none;
  border-bottom: 2px solid green;
  transition: all 2s;
}
body main .monitorOpciones input:focus {
  border-bottom: 2px solid blue;
  transition: all 2s;
}
body main .monitorOpciones input.temaOscuro {
  color: white;
}
body main .monitorOpciones button {
  width: 15%;
  font-family: inherit;
  font-weight: 600;
  background-color: inherit;
  color: inherit;
  border: 2px solid #ccc;
  cursor: pointer;
  padding: 0.5rem;
}
body main .monitorOpciones button:focus {
  border: none;
  outline: 2px solid blue;
}
body main .monitorOpciones #descargarDatosCsv {
  z-index: 10;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: -100px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ccc;
  cursor: pointer;
}
body main .monitorOpciones #descargarDatosCsv svg {
  width: 100%;
  height: 100%;
  fill: #ccc;
}
body main .monitorOpciones #descargarDatosCsv:hover svg {
  fill: green;
}
body main .monitorOpciones #descargarDatosCsv:hover::after {
  content: "CSV";
  color: green;
}
body footer {
  grid-area: footer;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  border-top: 3px solid #ccc;
}
body footer div span {
  font-family: inherit;
  font-weight: 400;
}
body footer div a {
  height: 50px;
}
body footer div a img, body footer div a svg {
  color: violet;
  height: 100%;
  width: auto;
}
body footer div a img.temaOscuro, body footer div a svg.temaOscuro {
  fill: violet;
}
body footer div a.cafecito {
  height: 30px;
}
body footer.temaOscuro div a svg {
  fill: white;
}

@media screen and (max-width: 500px) {
  body main .monitorOpciones input, body main .monitorOpciones button {
    width: auto;
    min-width: 56px;
    max-width: 96px;
  }
}/*# sourceMappingURL=styles.css.map */