* {
//     border: 1px solid red;
}


.centrarColumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body {
    @extend .centrarColumna;
    //background: black;

    .portOptions {

        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            margin: 1rem;
            width: 80px;
            height: 80px;
            @extend .centrarColumna;
            justify-content: space-around;
            background-color: inherit;
            cursor: pointer;
            svg {
                width: 50%;
                height: 50%;
            }
        }

        // select {
        //     background-color: inherit;
        // }

        // button {
        //     margin: 0.5rem;
        //     padding: 0.25rem;
        //     background-color: inherit;
        // }


    }

    main {
        width: 100%;

        .keys-container {
            //background: pink;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            //padding: 1rem;
            border: 2px solid #ccc;
            margin: 0.5rem 0;

            .keys {
                margin: 1rem;
                //@extend .centrarColumna;
                text-align: center;
                color: white;
                outline: 2px solid black;

                //margin: 0.5rem;
                //padding: 0.5rem;
                .keys__name {
                    padding: 0.25rem;
                    background-color: black;
                }

                .keys__value {
                    padding: 0.75rem;
                    background: white;
                    color: black;

                }
            }

        }

        .monitor {
            margin: 0.5rem 0;
            border: 2px solid #ccc;
            padding: 1rem;
            max-height: 60vh;
            overflow-y: auto;
            scroll-behavior: smooth;
            //background-color: red;
            span {
               color: black;
            }

        }
        .monitorOpciones {
            @extend .centrarColumna;
            button {
                //background: blue;
            }
        }
    }
}