* {
//     border: 1px solid red;
}


.centrarColumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body {
    display: grid;
    grid-template-columns: 5% auto 5%;
    //grid-template-rows: 30% auto 15%;
    grid-template-areas:
        "null botones vacio"
        "null main vacio"
        "footer footer footer";

    font-family: 'Roboto', sans-serif;
    transition: all 1s;

    &.temaOscuro {
        background-color: black;
        color: white;
    }

    &.temaClaro {
        background-color: white;
        color: black;
    }

    // header {
    //     grid-area: header;
    // }
    .portOptions {
        grid-area: botones;

       // width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            font-family: inherit;
            font-weight: 600;
            margin: 1rem;
            width: 80px;
            height: 80px;
            @extend .centrarColumna;
            justify-content: space-around;
            background-color: inherit;
            cursor: pointer;
            box-shadow: 5px 5px 5px rgba(0,0,127,0.5);

            &:active {
                transform: translate(2px, 2px);
            }

            &:hover {
               // background-color: blue;
               background-color: blue;
               color: white;
               fill: white;
               //border: 2px solid lightblue;
            }

           // border: none;
           border: 2px solid blue;
            svg {
                width: 50%;
                height: 50%;
            }
            select {
                background-color: inherit;
                color: inherit;
            }
        }

        .temaOscuro {
            box-shadow: 3px 3px 2px rgba(0,0,255,0.5);
            color: green;
            svg {
                fill: green;
            }
        }
    }

    main {
        grid-area: main;
        //width: 100%;

        .keys-container {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            //padding: 1rem;
            border: 2px solid #ccc;
            margin: 0.5rem 0;

            .keys {
                margin: 1rem;
                //@extend .centrarColumna;
                text-align: center;
                color: white;
                outline: 2px solid black;

                &.temaOscuro {
                    outline: 2px solid #777;
                    //border: 2px solid red;;
                }

                .keys__name {
                    padding: 0.25rem;
                    background-color: black;
                }

                .keys__value {
                    padding: 0.75rem;
                    background: white;
                    color: black;

                }
            }
        }

        .monitor {
            margin: 0.5rem 0;
            border: 2px solid #ccc;
            padding: 1rem;
            height: 40vh;
            max-height: 60vh;
            overflow-y: auto;
            scroll-behavior: smooth;
            //background-color: red;
            span {
               color: inherit;
            }

        &.temaOscuro {
            span {
                color: green;
            }
        }

        }
        .monitorOpciones {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            border: 2px solid #ccc;
            padding: 0.5rem;

            input {
                background-color: inherit;
                width: 60%;
                outline: none;
                border: none;
                border-bottom: 2px solid green;
                transition: all 2s;
                &:focus {
                    border-bottom: 2px solid blue;
                    transition: all 2s;
                }
                &.temaOscuro {
                    color: white;
                }

            }
            button {
                width: 15%;
                font-family: inherit;
                font-weight: 600;
                background-color: inherit;
                color: inherit;
                border: 2px solid #ccc;
                cursor: pointer;
                padding: 0.5rem;
                &:focus {
                    border: none;
                    outline: 2px solid blue;
                }
            }

            #descargarDatosCsv {
                z-index: 10;
                width: 60px;
                height: 60px;
                position: absolute;
                right: 10px;
                top: -100px;

                background-color: transparent;
                border: none;
                outline: none;
                color: #ccc;
                cursor: pointer;
                svg {
                    width: 100%;
                    height: 100%;
                    fill: #ccc;
                }
                &:hover {
                    svg {
                        fill: green;
                    }
                    &::after {
                        content: "CSV";
                        color: green;
                    }
                }
            }
        }
    }

    footer {
        grid-area: footer;
        margin-top: 5rem;
        //background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        border-top: 3px solid #ccc;
        div {
            @extend .centrarColumna;
            // width: auto;
            span {
                font-family: inherit;
                font-weight: 400;
            }
            a {
                height: 50px;
                img, svg {
                    color: violet;
                    height: 100%;
                    width: auto;
                    //fill: pink;

                    &.temaOscuro {
                        fill: violet;
                    }
                }

                &.cafecito {
                    height: 30px;
                }
            }
        }
        &.temaOscuro {
            div {
                a {
                    svg {
                        fill: white;
                    }
                }
            }
        }
    }
}